extends layout

block content
  h1
    a(href='../') Seattle
  h2 句法分析（chunk parsing）
  .wrap
    .flash#hint
      .flash-inner
        span.icon-close#icon-close ×
        p#text-error 请输入测试文本
    form
      label(for='input') 请输入测试文本
      textarea#input
      .form-group
        a(href='javascript:void(0)').btn.btn-info.pull-right#btn-cp chunk parsing 
      textarea#output(readonly='readonly')
  script(src='/javascripts/jquery-3.2.0.min.js')
  script(src='/javascripts/chunkParsing.js')