extends layout

block content
  h1
    a(href='../') Seattle
  h2 隐马尔可夫模型（HMM）
  .wrap
    .flash#hint
      .flash-inner
        span.icon-close#icon-close ×
        p#text-error 请输入测试文本和最大单词长度
    form
      label(for='input') 测试文本
      textarea#input 在这一年中，中国的改革开放和现代化建设继续向前迈进。国民经济保持了“高增长、低通胀”的良好发展态势。农业生产再次获得好的收成，企业改革继续深化，人民生活进一步改善。对外经济技术合作与交流不断扩大。
      .form-group
        label(for='maxLength').inline 最大单词长度：
        input(type='number' name='maxLength' value='2')
        a(href='javascript:void(0)').btn.btn-info.pull-right#btn-req HMM
      textarea#output(readonly='readonly')
  script(src='/javascripts/jquery-3.2.0.min.js')
  script(src='/javascripts/hmm.js')
