extends layout

block content
  h1
    a(href='../') Seattle
  h2 隐马尔可夫模型（HMM）
  .wrap
    .flash#hint
      .flash-inner
        span.icon-close#icon-close ×
        p#text-error 请输入测试文本和最大单词长度
    form
      label(for='input') 测试文本
      textarea#input 我在餐厅吃饭
      .form-group
        label(for='maxLength').inline 最大单词长度：
        input(type='number' name='maxLength' value='2')
        a(href='javascript:void(0)').btn.btn-info.pull-right#btn-req HMM
      textarea#output(readonly='readonly')
  script(src='/javascripts/jquery-3.2.0.min.js')
  script(src='/javascripts/hmm.js')
