doctype html
html
  head
    title= title
    link(rel='icon' type='image/png' href='/favicon.png')
    link(rel='stylesheet', href='/stylesheets/util.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/'+cssSource+'.css')
  body
    block content
