extends layout

block content
  h1
    a(href='./') Seattle express-react-view
  h2 最大正向匹配（MaximumMatching）
  .wrap
    form
      label(for='input') 请输入测试文本
        span.text-error.pull-right 测试文本不可为空
      textarea#input
      .form-group
        a(href='javascript:void(0)').btn.btn-info 最大正向匹配
      textarea#output(readonly='readonly')
  script(src='/javascripts/jquery-3.2.0.min.js')
  script(src='/javascripts/mm.js')
